@{
    ViewData["Title"] = "Home Page";
}
@model BooksViewModel
    <div class="card-text p-1">
        <div class="text-center">
            <h1>Bookstore</h1>
        </div>
    </div>
    @*Bring in variables from the models*@ 
    @foreach (Book b in Model.Books)
    {
        <h3>
            @b.Title
            @*bootstrap here*@
            <span class="badge badge-pill badge-primary" style="float:none">
            @b.Category</span>
        </h3>
        <div class="card card-outline-primary m-1 p-1">
            <div class="bg-faded p-1">
                <ul>
                    <li>Author Name: @b.Author</li>
                    <li>Publisher: @b.Publisher</li>
                    <li>Isbn: @b.Isbn</li>
                    <li>Classification: @b.Classification</li>
                    <li>Page Count: @b.PageCount</li>
                    <li>Price: $@b.Price</li>
                </ul>
            </div>
        </div>
        <br />
    }
<div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

